section {
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header h4 {
    margin: 0;
}

menu {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}

menu a {
    margin: 0 !important;
    padding: 0rem 0.5rem 0rem 0.5rem!important;
}