:root {
    --preto: #31383E;
    --cinza-escuro: #818F9C;
    --cinza-claro: #C6CCD2;
    --branco: #F4F5F6;
    --azul-escuro: #0A62AE;
    --azul: #85ABCC;
    --azul-claro: #D7E4EF;
    --vermelho-claro: #DB5757;
    --vermelho: #D22D2D;
    --verde-claro: #83DB57;
    --verde: #64D22D;
    --amarelo-claro: #FFCC33;
    --amarelo: #FFBF00;
}

html,
body {
    font-family: Inter, monospace;
    margin: 0;
    padding: 0;
    background-color: var(--cinza-claro);
    min-height: 100%;
}

body {
    height: 100%;
    min-width: 100%;
}

a,
.btn-link {
    color: var(--azul-escuro);
}

.btn-primary {
    color: var(--branco);
    background-color: var(--cinza-escuro);
    border-color: var(--azul-escuro);
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem var(--branco), 0 0 0 0.25rem var(--azul);
}

.content {
    padding-top: 1.1rem;
}

.invisivel { display: none; }

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid var(--verde-claro);
}

.invalid {
    outline: 1px solid var(--vermelho);
}

.validation-message {
    color: var(--vermelho);
}

.blazor-error-boundary {
    padding: 1rem 1rem 1rem 3.7rem;
    color: var(--branco);
}

.blazor-error-boundary::after {
    content: "An error has occurred."
}

.darker-border-checkbox.form-check-input {
    border-color: var(--cinza-claro);
}

em {
    font-weight: bolder;
    color: var(--vermelho);
    padding: .1rem;
}

.modal {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--azul);
}

.modal>div {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .35rem 0;
}

.modal h2 {
    margin: 0;
}

.modal input {
    border: 1px solid var(--azul);
}

.fecha-form {
    background-color: var(--vermelho-claro);
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    margin: .1rem .1rem 0 auto;

}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
    text-align: start;
}

[data-tooltip]::before {
    position: absolute;
    content: attr(data-tooltip);
    opacity: 0;

    transition: all .1s ease;
    padding: 10px;
    color: #333;
    border-radius: 10px;
    box-shadow: 2px 2px 1px silver;
}

[data-tooltip]:hover::before {
    opacity: 1;
    background: yellow;
    margin-top: -50px;
    margin-left: 20px;
}