:root {
    --preto: #31383E;
    --cinza-escuro: #818F9C;
    --cinza-claro: #C6CCD2;
    --branco: #F4F5F6;
    --azul-escuro: #0A62AE;
    --azul: #85ABCC;
    --azul-claro: #D7E4EF;
    --vermelho-claro: #DB5757;
    --vermelho: #D22D2D;
    --verde-claro: #83DB57;
    --verde: #64D22D;
    --amarelo-claro: #FFCC33;
    --amarelo: #FFBF00;
}

.status-inoperante {
    height: 1em;
    width: 1em;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--vermelho-claro);
}

.status-avaria {
    height: 1em;
    width: 1em;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--amarelo-claro);
}

.status-emdia {
    height: 1em;
    width: 1em;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--verde-claro);
}

.status-funcionando {
    height: 1em;
    width: 1em;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--azul);
}

.status-invalido {
    height: 1em;
    width: 1em;
    margin: 0 auto;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--azul);
}